In [3]:
import csv
import logging
import datetime
import os

import sqlalchemy as sa
import pandas as pd
import numpy as np
from tqdm import tqdm

In [23]:
sql_user = 'root'
sql_pass = 'myrootpassword'
sql_host = 'localhost'
sql_db = 'mrdatabase'

logging.info("connect to Database")
db_connection_str = f'mysql+pymysql://{sql_user}:{sql_pass}@{sql_host}/{sql_db}?charset=utf8mb4'
db_engine = sa.create_engine(db_connection_str)
db_conncetion = db_engine.connect()
# db_tb = pd.read_sql_query('select tconst from title_basics', con=db_conncetion)

In [21]:
db_connection_str = f'mysql+pymysql://{sql_user}:{sql_pass}@{sql_host}/{sql_db}?charset=utf8mb4'
db_engine = sa.create_engine(db_connection_str)
# db_tb = pd.read_sql_query('select tconst from title_basics', con=db_engine)

In [48]:


# Erstelle das Selectable-Objekt
title_basics = sa.select(sa.column('tconst')).select_from(sa.text('title_basics'))

# Ãœbergebe das Selectable-Objekt an pd.read_sql()
db_tb = pd.read_sql(title_basics, con=db_conncetion)

In [26]:
db_tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9650055 entries, 0 to 9650054
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   tconst  object
dtypes: object(1)
memory usage: 73.6+ MB

In [38]:
failed_chunk = pd.read_csv('./tsv_dump/failed_chunks/title_episode2.csv')

In [39]:
ps2 = db_tb.tconst

In [44]:
ps1 = failed_chunk.parentTconst

In [46]:
ps1[~ps1.isin(ps2)]

71    tt9810440
Name: parentTconst, dtype: object

In [47]:
failed_chunk.iloc[71]

tconst           tt10374418
parentTconst      tt9810440
seasonNumber           99.0
episodeNumber           2.0
Name: 71, dtype: object